<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.ExceptionCoroutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.CancelCoroutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lifecycle.LifecycleSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vm.SearchVMActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>

