<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxd.view">

    <application tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycler.diff.RecyclerDiffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".systemWidget.SystemWidgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".material.MaterialDesignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iconfont.IconFontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycler.RecyclerPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.ThirdPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myself.MyselfViewPagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>