<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxd.view">

    <application
        android:name="com.xxd.common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/view_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/view_AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recycler.diff.RecyclerDiffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".systemWidget.SystemWidgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".material.MaterialDesignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iconfont.IconFontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recycler.RecyclerPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.ThirdPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myself.MyselfViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bigpic.BigPictureActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>